<head>   
    <link rel="stylesheet" type="text/css" href="/index.css">
    <title>To Do Project</title>
</head>
<body>   
   <%- include('./partials/menu.ejs') %> 
   
   <%- include('./partials/footer.ejs') %>  
</body>






 

